@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html{
    margin: 0;
}

body{
    background: linear-gradient(#29b3d6,#9198e5,#355B71 );
    text-decoration: none;
}

.home 
{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.home>figure
{
    margin: auto;  
    
}
.heading
{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color:#F7F6EE
}

#headingText
{
    font-family: 'Lobster', cursive;
    padding: 0;
    font-size: 4rem;
    color:#F7F6EE;
}
#arrow{
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: inherit;
    
    color: #F7F6EE;
}

.fullpage
{
    height: 100vh;
}

#home_img
{
    width: 30vw;
    height: 50vh;
    border-radius: 15px;
    border: 2px #000000 solid;
}


.mainContent{
    padding: 1rem 2rem;
    
}
#instruction
{
    font-family: 'B612', sans-serif;
}

form{
    background-color: #E1E0DE;
    padding: 10px;
    width: 40vw;
    border-radius: 15px;
    margin: auto;
    border: 2px #000000 solid;
}

input
{
    font-size: 1rem;
    margin: 0.5rem 1rem;
    text-align: center;
    width: 10rem;
    border-radius: 5px;
    font-family: 'B612', sans-serif;
}

#check-Btn
{
    font-size: large;
    background-color: #F08BA2;
    margin: 0.2rem;
    font-family: 'B612', sans-serif; 
    border-radius: 5px;  
}


.output
{
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output_img
{
    display: none;
    width: 300px;
    height: 250px;
    margin: auto;
    border-radius: 15px;
    border: 2px #F08BA2 solid;
}

#output_text
{
    font-family: 'Lobster', cursive;
    font-size:2rem;
    color:#F7F6EE;
}

.notice_txt
{
    text-align: center;
    padding: 0.5rem 1rem;
    margin: auto;
    color:wheat;
    font-size: 1rem;
    background-color: #F08BA2;
    width: fit-content;
    margin-bottom: 0.5rem;
    color: #000000;
    border-radius: 5px;
    border: 2px #FFF solid;
}

#notice_icon
{
    cursor: pointer;
    padding: 0 10px;
}

.notice_txt{
    display: flex;
    font-family: 'B612', sans-serif;
}

footer
{
    border: 2px #000000 solid;
    position: relative  ;
    bottom: 0;
    background-color: #E1E0DE;
    border-radius: 15px;
    width: 40vw;
    margin: auto;
}

.social_links
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.link
{
    height: 2rem;
    font-size: 2rem;
    padding: 0rem 1rem 0.5rem 1rem;
    
}
    
#Name
{
    width: fit-content;
    margin: auto;
    text-align: center;
    font-size: larger;
    font-family: B612;
    border-radius: 5px;
    
}

#check-Btn:hover
{
    background-color: #f13762;
}

li>a,#Name
{
    color:#355B71
}

#arrow:hover{
    font-size: 4rem;
}

@media only screen and (max-width: 600px) 
{
    #home_img
    {
        width: 80vw;
        height: 60vh;
    }
    #headingText
    {
        font-size: 2rem;
    }

    .notice_txt
    {
        font-size: 0.8rem;
    }

    form 
    {
        width: 70vw;
        margin: auto;
        
    }

    #instruction{
        text-align: center;
    }
    .inputs
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #output_img
    {
        width: 50vw;
        height: 30vh;
    }
    #output_text
    {
        font-size: 1.5rem;
    }

    footer
    {
        width: 80vw;
    }
    .social_links
    {
        margin: 1rem auto 0 auto;
    }

    .link
    {
        font-size: 1rem;
        margin: 0 0.2rem;
    }

}   